<a href="https://colab.research.google.com/github/vijay1234455/vbnvinny/blob/main/python_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''PYTHON OPERATORS'''
#1.Arithmetic operators
   #Addition--->+
   #subtraction--->-
   #multiply----->*
   #division---->/
   #floor division--->//
   #power ---->**
   #modulus----->%

In [2]:
#ADDITION
a=2
b=3
print(a+b)
a=1.7
b=3
print(a+b)

5
4.7

In [ ]:
#Subtraction
a=5
b=2
print(a-b)
a=4.5
b=2
print(a-b)

In [ ]:
#Multiplication
a=2
b=4
print(a*b)
a=3
b=2.5
print(a*b)

In [ ]:
#division
a=5
b=2
print(a/b)
print(b/a)

In [ ]:
#floor division
a=5
b=2
print(a//b)
print(b//a)

In [ ]:
#modulus
a=3
b=2
print(a%b)
print(b%a)

In [ ]:
#power of number
a=2
b=3
print(a**b)
print(b**a)

In [ ]:
'''COMPARISION OPERATORS'''
#less than-->  <
#greater than-->  >
#less than or equl to---> <=
#greater than or equal to---> >=
#equal to -----> ==
#not equal to---> !=

In [ ]:
#less than
a=3
b=2
print(b<a)   # it returns to the boolean value
print(a<b)

In [ ]:
#greater than 
a=55
b=33
print(a>b)
print(b>a)

In [ ]:
#equal operator
a=44
b=55
c=44
k=a
print(a==b)
print(b==c)
print(k==c)

In [24]:
#not equal operator
a=44
b=55
c=44
print(a!=b)
print(a!=c)

True
False

In [ ]:
'''LOGICAL OPERATORS'''
#and-->It returns the true if both values or expressions are TRUE,otherwise it returns to FALSE
#or--->It returns TRUE if any one of the value or expression is true,if both values are FALSE it returns FALSE
#not--->It returns reverse of value of expression

In [31]:
#AND OPERATOR
a=2
b=4
print(a>0 and b>0)
c=0
print(a>0 and c>0)
d=-33
print(a>0 and d>0)

True
False
False

In [32]:
#OR OPERATOR
a=4
b=5
c=0
d=0
print( a>0 or b>0)
print(a>0 or c>0)
print(c>0 or d>0)

True
True
False

In [ ]:
#NOT OPERATOR
a=4
b=5
print( not(a>0 or b>0))
c=0
d=0
print(not(c>0 or d>0))

In [ ]:
''' Bitwise operators:These operators are applied on bit-level'''
#Bitwise AND
#Bitwise OR
#Bitwise XOR
#Left shift operator
#Right shift operator

In [ ]:
#Bitwise AND Operator

a=4
b=4
print(a&b)
c=0
print(a&c)
d=8
print(a&d)
print(3&5)  # 0 1 0 1-----bit representation of 5
            # 0 0 1 1----bit representation of 3

In [ ]:
#Bitwise OR operator
a=4
b=5
print(a|b)
c=0
d=5
print(a|c)
print(b|d)

In [45]:
#Bitwise XOR operator
a=4
b=5
c=0
d=4
print(a^b)
print(a^d)
print(b^c)

1
0
5

In [48]:
#Left shift---> <<
a=4
print(a<<1)   # 0000 0100------>0000 10000
print(a<<2)   #0000 0100-------->0001 0000

8
16

In [49]:
#Right shift---> >>
a=4
print(a>>1)
print(a>>2)

2
1

In [50]:
#NOT--------> ~(tild operator)
#It inverts all the bits,it returns the one's complement
a=4
print(~a)   # ~(0100)--->~(0100+1)--->~(0101)---->~(5)--> -5

-5